
.navbar{
    border-bottom: 1px solid black;
}
body{
    margin: 0;
    padding: 0;
    height: 100vh;
}
.imgProfileAcc{
    width: 150px ;
}

/* #accueil {
    min-height: 750px;
} */
.imgServices{
    width: 120px;
    height: 120px;
}

li a {
    text-decoration: none;
    color: black;
}